@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #7874e2, #42faf5);
}

::selection {
  background: #fa4299;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #7874e2, #42faf5);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}

#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked ~ label.login {
  color: #000;
}

#login:checked ~ label.signup {
  color: #000;
}

#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: #b3b3b3;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #fa4299;
  text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #7874e2,
    #42faf5,
    #7874e2,
    #42faf5
  );
  border-radius: 5px;
  transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
  left: 0;
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

#intro {
  background-color: #961ebb;
  color: #ffffff;
  height: 5%;
}

#box {
  width: 75%;
  height: 80%;
  background: rgb(240, 240, 240);
  padding: 50px;
  top: 88px;
  left: 10%;
  border: 3px solid black;
  position: fixed;
}

#name #Iname {
  width: 11%;
  height: 4%;
  background: rgb(240, 240, 240);
  border: 3px solid black;
  position: fixed;
  top: 44px;
  /* right: 33px; */
  left: 4.9%;
}

#sub {
  position: fixed;
  top: 5.6%;
  left: 17%;
  width: 57px;
  height: 25px;
}

#name label {
  position: fixed;
  top: 5%;
  left: 0.5%;
  font-size: x-large;
}

#formChat {
  background: #f9b3ff;
  padding: 3px;
  position: fixed;
  bottom: 108px;
  width: 63%;
  border: 3px solid black;
}

#formChat input {
  background-color: #f7f7f7;
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

#formChat button {
  width: 9%;
  background: #961ebb;
  border: none;
  padding: 5px;
  font-size: 20px;
}

#messages {
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  /* background: #c2c0d6; */
  font-size: larger;
}

/* #messages li:nth-child(odd) {
	background: #f6a4fd;
	width: 28%;
} */

#list {
  text-align: right;
}

#typing {
  text-align: right;
}

.logo {
  display: block;
  margin: auto;
  width: 13%;
  /* height: 50px; */
}

.parent {
  display: flex;
  width: 60%;
}

.container {
  float: right;
  max-width: 955px;
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
  height: 60vh;
  width: 75%;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
}
.peopleContainer {
  float: left;
  max-width: 955px;
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
  height: 60vh;
  width: 17%;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
}

.message {
  background-color: rgb(194, 180, 180);
  width: 24%;
  padding: 10px;
  margin: 17px 2px;
  border: 2px solid black;
  border-radius: 10px;
}

.right {
  float: right;
  clear: both;
}

.left {
  float: left;
  clear: both;
}

#send-container {
  margin: 0px;
}

#messageInp {
  width: 875px;
  height: 46px;
  border-radius: 10px;
}

form .btn {
  height: 50px;
  width: 62px;
  border-radius: 10px;
}
.peopleContainer .btn {
  height: 50px;
  width: 90px;
  border-radius: 10px;
}
